<h3>Companies</h3>
<div class="company-container">
  <% game.companies.each do |color, company| %>
    <%= render "games/company", game: game, company: company.merge(color: color) if company['started'] %>
  <% end %>
</div>
