<div class="company <%= company[:color] %>">
  <dl>
    <dt>Money:</dt>
    <dd><%= company['money'] %></dd>
    <dt>Shares:</dt>
    <dd><%= company['shares'] %></dd>
    <dt>Tracks:</dt>
    <dd><%= company['track'] %></dd>
  </dl>
</div>
