.action-container {
  display: flex;
  column-gap: 1em;
}

.action {
  border-radius: 1em;
  overflow: hidden;
  line-height: 1.5em;
  background-color: antiquewhite;
}

.action section {
  margin: 0em;
  padding: 1em;
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.action header {
  justify-content: center;
  display: flex;
  padding: 0em 2em 0em;
}

.action footer {
  text-align: center;
}

.action header.available {
  background-color: forestgreen;
}

.action header.unavailable {
  background-color: brown;
}
