.game {
  display: grid;
  grid-template-columns: [state-start] 1fr [state-end] 5em [board-start] 2fr 2fr [board-end]
}

.state-container {
  grid-column-start: state-start;
  grid-column-end: state-end;
}

.board-container {
  grid-column-start: board-start;
  grid-column-end: board-end;
}
